// Image replacement
%imageRep {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 500%;
}
// @extend imageRep;

// Display inline-block
%inline {
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
}
// @extend inline;

// Justify line of items
%justify {
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
// @extend justify;
// Child items - display:inline-block;