// Grid Container
.full-width {
    max-width: $max-width + px;
    margin: 0 auto;
    //overflow: hidden;
    /*&:before,
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }*/
}

// Grid columns
%grid {
    margin: auto -4px auto auto;
    display: inline-block;
    vertical-align: top;
    //padding-left:10px;
}

@for $i from 1 through $columns {
    .grid-#{$i} {
        width: ($i / $columns) * 100%;
        @extend %grid;
    }
}
.grid-inline {
  @extend %grid;
}
/*
[class*="grid-"]:first-child {
  padding-left:0;
}
*/

// Push columns
$pushColumns: $columns - 1; // one less push than column
%push {
    position: relative;
}
@for $i from 1 through $pushColumns {
    .push-#{$i} {
        left: ($i / $columns) * 100%;
        @extend %push;
    }
}

// Small Screen Media Query
@media only screen and (max-width: ($w4 - 1px)) {
// Remove Push
  %removePush {
    left: 0;
  }
  @mixin smallScreens {
      @for $i from 1 through $pushColumns {
        .push-#{$i} {
            @extend %removePush;
          }
      }
  }
  @include smallScreens;
}


/*
//grid mixin
@mixin columnDivs($columns, $boolean, $offSetColumn:null) {
   margin-left: 2%;

   @if $boolean == true {
      width: (100% - (2% * ($columns - 1))) / $columns;
   } @else {
        width: 100% - (2% * ($columns - 1)) - ( (6.5% * $offSetColumn) + (($offSetColumn - 1) * 2%) );
   }
}
.grid-row {
  display: block;
  font-size: 0.75em;
  margin: 0;
  padding: $smallPad;//provide padding for small screens
  text-align: center;
  width: 100%;
  word-spacing: -0.25em; // may need adjusting
  // Prevent whitespace between columns - adjust to suit
  letter-spacing: -0.31em; // webkit: collapse white-space between units
  *letter-spacing: normal; // reset IE < 8
  word-spacing: -0.43em; // IE < 8 && gecko: collapse white-space between units
  @include break(min,$min6) {
    margin: 1em 0;//add spacing between stacked sections
    padding: $largePad;//large screen padding
  }
  //set up for all grid columns
  [class*="grid-"] {
    font-size: 1em;
    margin: 1em 0;//add some space between columns when stacked
    padding: 0.5em;
    width: 100%;//width is 100% for small screens
    // Positioning
    display: inline-block;
    zoom: 1; *display: inline; // IE < 8: fake inline-block
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    @include break(min,$min6) {
      margin: 0;
    }
  }
  //set individual column width for larger screens
  .grid-1 {
    @include columnDivs(12, true);
  }
  .grid-2 {
    @include columnDivs(6, true);
  }
  .grid-3 {
    @include columnDivs(4, true);
  }
  .grid-4 {
    @include columnDivs(3, true);
  }
  .grid-5 {
    @include columnDivs(2, false, 7);
  }
  .grid-6 {
    @include columnDivs(2, true);
  }
  .grid-7 {
    @include columnDivs(2, false, 5);
  }
  .grid-8 {
    @include columnDivs(2, false, 4);
  }
  .grid-9 {
    @include columnDivs(2, false, 3);
  }
  .grid-10 {
    @include columnDivs(2, false, 2);
  }
  .grid-11 {
    @include columnDivs(2, false, 1);
  }
  .grid-12 {
    @include columnDivs(1, true);
  }
}

//remove the margin for first element
.grid-row {
  .grid-1:first-child,
  .grid-2:first-child,
  .grid-3:first-child,
  .grid-4:first-child,
  .grid-5:first-child,
  .grid-6:first-child,
  .grid-7:first-child,
  .grid-8:first-child,
  .grid-9:first-child,
  .grid-10:first-child,
  .grid-11:first-child,
  .grid-12:first-child {
    margin-left: 0;
  }
}
*/