// Colours
$temp:#f00;
// Red - Purple
$red: #F74F35;

// Blue - Green
$blue: #4176FC;
$green: #51B72B;

// Yellow - Brown
$yellow: #ff0;

// B+W
// Darker
$black:#000;
$nearBlack:lighten($black,1%);
$charcoal:#474747;
$nero:#252525;
$oil:#333333;
// Paler
$white: #ffffff;
$nearWhite: darken($white,1%);
$lily: #EAEAEA;
$lightGrey:#D7D7D7;

// Other colours
$mediaclash:#490B6C;
$facebook:#576FAA;
$twitter:#55ACEE;
// Sizes
$gap:40px;

// Borders


// Weights


// Image sprites
$sprite1: url('../images/icon-sprite.svg');
$sprite2: url('../images/category-icon-sprite.svg');

// Media Query Mixin
$w4: 400;
$w5: 500;
$w6: 600;
$w7: 700;
$w8: 800;
$w9: 900;

// Grid
//Column number
$columns: 12;
// Max width
$max-width: 1200;
//Padding
$smallPad: 0 1.5em;
$largePad: 0 2.5em;


// Default alt states (create default hover states, transitions etc here)
// Hovers, Active


// Transitions
$all02: all 0.2s ease;

