@font-face {
  font-family: "univers55";
  src: url("../fonts/univers/51483fc1-da59-4223-a632-cb12950e03a6.eot?#iefix");
  src: url("../fonts/univers/51483fc1-da59-4223-a632-cb12950e03a6.eot?#iefix") format("eot"), url("../fonts/univers/2335ee1c-e8df-415c-aba9-387b8dc8f955.woff") format("woff"), url("../fonts/univers/387d36e0-6062-47b6-9b02-3c7b592a6b9b.ttf") format("truetype"), url("../fonts/univers/3f5c7518-9c93-4204-b15b-ce95732d6402.svg#3f5c7518-9c93-4204-b15b-ce95732d6402") format("svg"); }
@font-face {
  font-family: "univers65";
  src: url("../fonts/univers/1402938c-97a0-4d68-a6ed-969ee0b8114c.eot?#iefix");
  src: url("../fonts/univers/1402938c-97a0-4d68-a6ed-969ee0b8114c.eot?#iefix") format("eot"), url("../fonts/univers/e9cbe1a0-7477-4278-9e9b-447ee8d39cf3.woff") format("woff"), url("../fonts/univers/a71b570b-3fc1-461a-af8b-1f1971da09f8.ttf") format("truetype"), url("../fonts/univers/42f6fae1-50c8-4734-93cb-dda87707ca4f.svg#42f6fae1-50c8-4734-93cb-dda87707ca4f") format("svg"); }
@font-face {
  font-family: "univers75";
  src: url("../fonts/univers/755a2fb6-a9d2-45ee-ac5d-642a5971af0e.eot?#iefix");
  src: url("../fonts/univers/755a2fb6-a9d2-45ee-ac5d-642a5971af0e.eot?#iefix") format("eot"), url("../fonts/univers/acf98bb2-eb76-460a-b1e1-0cacfc0d0ef4.woff") format("woff"), url("../fonts/univers/046c1b67-86b1-48e2-8c6c-74acbafeff46.ttf") format("truetype"), url("../fonts/univers/b47a966e-2f71-464b-bfc4-73d890f0ace1.svg#b47a966e-2f71-464b-bfc4-73d890f0ace1") format("svg"); }
@font-face {
  font-family: "dezen";
  src: url("../fonts/dezen/Dezen_Pro_Regular.eot?") format("eot"), url("../fonts/dezen/Dezen_Pro_Regular.woff") format("woff"), url("../fonts/dezen/Dezen_Pro_Regular.ttf") format("truetype"), url("../fonts/dezen/Dezen_Pro_Regular.svg#DezenProRegular") format("svg"); }
/*
@font-face{
  font-family:"XXX";
  src:url("fonts/FONT_CODE.eot?#iefix");
  src:url("fonts/FONT_CODE.eot?#iefix") format("eot"),url("fonts/FONT_CODE.woff") format("woff"),url("fonts/FONT_CODE.ttf") format("truetype"),url("fonts/FONT_CODE.svg#FONT_CODE") format("svg");
}
*/
.grid-wrap {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: auto; }

.grid-row {
  padding: 0 5px;
  left: -5px;
  width: 100%;
  position: relative; }

.grid-row .grid-row .grid-1, .grid-row .grid-row .grid-2, .grid-row .grid-row .grid-3, .grid-row .grid-row .grid-4, .grid-row .grid-row .grid-5, .grid-row .grid-row .grid-6, .grid-row .grid-row .grid-7, .grid-row .grid-row .grid-8, .grid-row .grid-row .grid-9, .grid-row .grid-row .grid-10, .grid-row .grid-row .grid-11, .grid-row .grid-row .grid-12 {
  padding: 0 0 0 10px; }

.grid-row .grid-row .grid-1:first-child, .grid-row .grid-row .grid-2:first-child, .grid-row .grid-row .grid-3:first-child, .grid-row .grid-row .grid-4:first-child, .grid-row .grid-row .grid-5:first-child, .grid-row .grid-row .grid-6:first-child, .grid-row .grid-row .grid-7:first-child, .grid-row .grid-row .grid-8:first-child, .grid-row .grid-row .grid-9:first-child, .grid-row .grid-row .grid-10:first-child, .grid-row .grid-row .grid-11:first-child, .grid-row .grid-row .grid-12:first-child {
  padding: 0; }

.grid-row .grid-row {
  left: 0;
  padding: 0; }

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-inline {
  margin: auto -0.25em auto auto;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px; }

.grid-1 {
  width: 8.33333%; }

.grid-2 {
  width: 16.66667%; }

.grid-3 {
  width: 25%; }

.grid-4 {
  width: 33.33333%; }

.grid-5 {
  width: 41.66667%; }

.grid-6 {
  width: 50%; }

.grid-7 {
  width: 58.33333%; }

.grid-8 {
  width: 66.66667%; }

.grid-9 {
  width: 75%; }

.grid-10 {
  width: 83.33333%; }

.grid-11 {
  width: 91.66667%; }

.grid-12 {
  width: 100%; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11 {
  position: relative; }

.push-1 {
  left: 8.33333%; }

.push-2 {
  left: 16.66667%; }

.push-3 {
  left: 25%; }

.push-4 {
  left: 33.33333%; }

.push-5 {
  left: 41.66667%; }

.push-6 {
  left: 50%; }

.push-7 {
  left: 58.33333%; }

.push-8 {
  left: 66.66667%; }

.push-9 {
  left: 75%; }

.push-10 {
  left: 83.33333%; }

.push-11 {
  left: 91.66667%; }

@media only screen and (max-width: 399px) {
  .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11 {
    left: 0; }

  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    width: 100%; }

  .grid-row .grid-row .grid-1, .grid-row .grid-row .grid-2, .grid-row .grid-row .grid-3, .grid-row .grid-row .grid-4, .grid-row .grid-row .grid-5, .grid-row .grid-row .grid-6, .grid-row .grid-row .grid-7, .grid-row .grid-row .grid-8, .grid-row .grid-row .grid-9, .grid-row .grid-row .grid-10, .grid-row .grid-row .grid-11, .grid-row .grid-row .grid-12 {
    padding: 0;
    margin-right: 0; } }
/*
HTML Structure

div.grid-wrap (The full container width)
    div.grid-row (The grid items container)
        div.grid-<num> (the grid item)
        div.grid-row (nested grid items container)
            div.grid-<num> (nested grid item)
*/
html,
body {
  font-family: "univers55", Helvetica, Arial, sans-serif, sans-serif;
  line-height: 100%;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden; }

body {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
  font-weight: normal;
  line-height: 1.4em; }

h1 {
  font-size: 2.2em;
  line-height: 1em;
  font-family: "univers65", Helvetica, Arial, sans-serif; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.8em; }

h5 {
  font-size: 1.6em; }

h6 {
  font-size: 1.6em; }

p,
a,
ul,
li {
  line-height: 1.4em; }

p {
  font-size: 1.6em; }

p, pre {
  margin: 0; }

select, option {
  outline: none !important; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

a {
  outline: none !important;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -moz-transition: all 0.2s ease-in-out 0.1s;
  -ms-transition: all 0.2s ease-in-out 0.1s;
  -o-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s; }

a:hover, a:active, a:focus {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

blockquote {
  float: left;
  width: 250px;
  padding: 0;
  margin: 1em 3em 1em 0;
  color: black; }
  blockquote.right {
    float: right;
    margin: 1em 0 1em 3em; }
  blockquote cite {
    color: black; }

ul,
ol,
li {
  margin: 0;
  padding: 0; }

td {
  font-size: 1.6em;
  padding: 8px 4px; }

code {
  background: #e6e6e6;
  display: block;
  padding: 1em; }

form,
button,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input::-moz-focus-inner {
  border: 0; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: '';
    display: table; }
  .cf:after {
    clear: both; }

.browsehappy {
  padding: 10px 0; }

html, body {
  height: 100%; }

.wrapper {
  display: table;
  height: 100%;
  width: 100%; }

.footer {
  display: table-row;
  height: 1px; }

/* MY STYLES */
/* END OF MY STYLES */
.select-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border: 1px solid black;
  background: #363636;
  background: -moz-linear-gradient(top, #474747 0%, #252525 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(100%, #252525));
  background: -webkit-linear-gradient(top, #474747 0%, #252525 100%);
  background: -o-linear-gradient(top, #474747 0%, #252525 100%);
  background: -ms-linear-gradient(top, #474747 0%, #252525 100%);
  background: linear-gradient(to bottom, #474747 0%, #252525 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#252525',GradientType=0 );
  margin-bottom: 10px; }
  .select-wrap select {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    border: 1px solid transparent;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    font-size: 16px;
    padding: 1px 20px 4px 7px;
    line-height: 1.3;
    font-family: "univers55", Helvetica, Arial, sans-serif;
    color: white;
    background: #363636;
    background: -moz-linear-gradient(top, #474747 0%, #252525 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(100%, #252525));
    background: -webkit-linear-gradient(top, #474747 0%, #252525 100%);
    background: -o-linear-gradient(top, #474747 0%, #252525 100%);
    background: -ms-linear-gradient(top, #474747 0%, #252525 100%);
    background: linear-gradient(to bottom, #474747 0%, #252525 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#252525',GradientType=0 ); }
  .select-wrap select::-ms-expand {
    display: none;
    visibility: hidden; }
  .select-wrap:after {
    color: white;
    padding: 0;
    position: absolute;
    content: '';
    right: 5px;
    top: 50%;
    bottom: .3em;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white; }
  .select-wrap option {
    color: #030303; }

.select-wrap,
x:-moz-any-link,
x:default {
  overflow: hidden;
  width: 66.6666%; }

.select-wrap select,
x:-moz-any-link,
x:default {
  width: 110%;
  max-width: 110%;
  min-width: 110%;
  padding: 1px 0 0 7px;
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: ""; }

select:focus {
  outline: none;
  background-color: transparent;
  color: white; }

select:focus::-ms-value {
  background: transparent;
  color: white; }

option {
  font-weight: normal; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dropdown select::-ms-expand {
    display: none; } }
/* -Print
-----------------------------------------------------------------------------*/
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* -
-----------------------------------------------------------------------------*/
